@model testmvc.Models.UserModel
<div>
    <div id="static-@Model.UserId">
        <span id="fname-@Model.UserId" class="itext">@Model.FirstName</span>
        <span id="lname-@Model.UserId" class="itext">@Model.LastName</span>
        <span id="email-@Model.UserId" class="itext">@Model.Email</span>
        <a href="#" onclick="switcher.beginEdit(@Model.UserId)">@Strings.Edit</a>
    </div>

        <!--using (Ajax.BeginForm("users", "api", new { id = Model.UserId }, new AjaxOptions { HttpMethod = "PUT", OnSuccess = String.Format("switcher.endEdit({0}, true)", Model.UserId) }, new { id = "form-" + Model.UserId, style = "display:none" }))-->
        @using(Ajax.BeginForm("Edit", "Account", null, new AjaxOptions {HttpMethod="POST", OnSuccess = String.Format("switcher.endEdit({0}, true)", Model.UserId) }, new { id = "form-" + Model.UserId, style = "display:none" }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Put)
            @Html.HiddenFor(t => t.UserId)
            @Html.TextBoxFor(t => t.FirstName, new { id = "f_fname-" + Model.UserId, @class = "iinput" }) @Html.ValidationMessageFor(t => t.FirstName)
            @Html.TextBoxFor(t => t.LastName, new { id = "f_lname-" + Model.UserId, @class = "iinput" }) @Html.ValidationMessageFor(t => t.LastName)
            @Html.TextBoxFor(t => t.Email, new { id = "f_email-" + Model.UserId, @class = "iinput" }) @Html.ValidationMessageFor(t => t.Email)
            <input type="submit" /> <text>|</text> <a href="#" onclick="@String.Format("switcher.endEdit({0}, false)", Model.UserId)">@Strings.Cancel</a>
        }
</div>

