@model testmvc.Models.UsersListViewModel

@{
    ViewBag.Title = "Index_";
}

<script type="text/javascript">

    var editingId = null;

    function Edit(id) {

        if (editingId != null)
            return;

        editingId = id;

        BeginEditing('FirstName', id);
        BeginEditing('LastName', id);
        BeginEditing('Email', id);
        $('#spanNormalMode-' + id).css('display', 'none');
        $('#spanEditMode-' + id).css('display', 'inline');
    }

    function Save(id) {
        $.ajax({
            type: 'POST',
            data: "{'UserId':'" + id + "'," +
                "'FirstName':'" + $('#inputFirstNameOf-' + id).val() + "'," +
                "'LastName':'" + $('#inputLastNameOf-' + id).val() + "'," +
                "'Email':'" + $('#inputEmailOf-' + id).val() + "'}",
            url: "account/edit",
            success: function() {
                SaveEditing(id);
            },

            error: function (jqXHR, textStatus, errorThrown) {
                ResetErrorStates(editingId);
                jqXHR.responseJSON.forEach(function t(f) {
                    $('#wrapper' + f.Field + 'Of-' + editingId).addClass('has-error');
                    $('#input' + f.Field + 'Of-' + editingId).tooltip({title : f.Message});
                });
            }
    });
    }

    function ResetErrorStates(id) {
        $('#wrapperFirstNameOf-' + id).removeClass('has-error');
        $('#wrapperLastNameOf-' + id).removeClass('has-error');
        $('#wrapperEmailOf-' + id).removeClass('has-error');
        $('#inputFirstNameOf-' + editingId).tooltip('destroy');
        $('#inputLastNameOf-' + editingId).tooltip('destroy');
        $('#inputEmailOf-' + editingId).tooltip('destroy');
    }

    function SaveEditing(id) {

        StopEditing('FirstName', id, true);
        StopEditing('LastName', id, true);
        StopEditing('Email', id, true);

        $('#spanNormalMode-' + id).css('display', 'inline');
        $('#spanEditMode-' + id).css('display', 'none');

        editingId = null;
    }

    function Cancel(id) {
        ResetErrorStates(id);

        StopEditing('FirstName', id, false);
        StopEditing('LastName', id, false);
        StopEditing('Email', id, false);
        $('#spanNormalMode-' + id).css('display', 'inline');
        $('#spanEditMode-' + id).css('display', 'none');

        editingId = null;
    }

    function StopEditing(field, id, copyVals) {
        var inputName = '#input' + field + 'Of-' + id;
        var spanName = '#span' + field + 'Of-' + id;

        if (copyVals) {
            $(spanName).html($(inputName).val());
        }
        $(spanName).css('display', 'inline');
        $(inputName).css('display', 'none');
    }

    function BeginEditing(field, id) {
        var inputName = '#input' + field + 'Of-' + id;
        var spanName = '#span' + field + 'Of-' + id;

        $(inputName).val($(spanName).html());
        $(spanName).css('display', 'none');
        $(inputName).css('display', 'inline');
    }

</script>

<table class="table table-hover table-condensed">
    <thead>
    <tr class="active">
        <td style="width: 25%">
            <strong>@Strings.FirstName</strong>
        </td>
        <td style="width: 25%">
            <strong>@Strings.LastName</strong>
        </td>
        <td style="width: 25%">
            <strong>Email</strong>
        </td>
        <td style="width: 25%">

        </td>
    </tr>
        </thead>
    <tbody>
@foreach(UserModel u in Model.Users)
{
    <tr>
        <td>
            <div class="" id="wrapperFirstNameOf-@u.UserId">
                <input type="text" style="display: none" class="form-control" id="inputFirstNameOf-@u.UserId" value="" data-toggle="tooltip" data-placement="top"/>
            </div>
            <span id="spanFirstNameOf-@u.UserId">@u.FirstName</span>
        </td>
        <td>
            <div class="" id="wrapperLastNameOf-@u.UserId">
                <input type="text" style="display: none" class="form-control" id="inputLastNameOf-@u.UserId" value="" data-toggle="tooltip" data-placement="top"/>
            </div>
            <span id="spanLastNameOf-@u.UserId">@u.LastName</span>
        </td>
        <td>
            <div class="" id="wrapperEmailOf-@u.UserId">
                <input type="text" style="display: none" class="form-control" id="inputEmailOf-@u.UserId" value="" data-toggle="tooltip" data-placement="top"/>
            </div>
            <span id="spanEmailOf-@u.UserId">@u.Email</span>
        </td>
        <td style="vertical-align: middle">
            @if(ViewBag.CurrentUserIsAdmin)
            {
                @*Html.ActionLink(Strings.Edit, "manage", "account", new {id = u.UserId}, null)*@
                <span id="spanNormalMode-@u.UserId"><a href="javascript:void(0);" onClick="Edit('@u.UserId')">@Strings.Edit</a></span>
                <span id="spanEditMode-@u.UserId" style="display:none"><a class="btn btn-info" href="javascript:void(0);" onClick="Save('@u.UserId')">@Strings.Save</a> | 
                    <a href="javascript:void(0);" onclick="Cancel('@u.UserId')">@Strings.Cancel</a></span>
            }
        </td>
    </tr>
}
        </tbody>
</table>