@model testmvc.Models.UsersListViewModel

@{
    ViewBag.Title = "Index_";
}

<table class="table table-hover table-condensed">
    <thead>
    <tr class="active">
        <td>
            @Strings.FirstName
        </td>
        <td>
            @Strings.LastName
        </td>
        <td>
            Email
        </td>
        <td>

        </td>
    </tr>
        </thead>
    <tbody>
@foreach(UserModel u in Model.Users)
{
    <tr>
        <td>
            @u.FirstName
        </td>
        <td>
            @u.LastName
        </td>
        <td>
            @u.Email
        </td>
        <td>
            @if(ViewBag.CurrentUserIsAdmin)
            {
                @Html.ActionLink(Strings.Edit, "manage", "account", new {id = u.UserId}, null)
            }
        </td>
    </tr>
}
        </tbody>
</table>